<%= render "shared/header" %>

<div class='main'>
  <div class='new_main'>
    <div class='new_purpose'>
      <div class='new_purpose_messe'>継続目標の編集</div>
      <%= render partial: "form", locals: { purpose: @purpose } %>
    </div>
  </div>

</div>