<%= render "header" %>

<div class='main'>

  <div class='purpose'>
    <div class='purpose-content'>
      <div class='purpose-box'>
        <div class='purpose-height'>15M</div>
      </div>
      <div class='purpose-name'>レベル上げ</div>
    </div>

    <div class='purpose-content'>
      <div class='purpose-box'>
        <div class='purpose-height'>20M</div>
      </div>
      <div class='purpose-name'>筋トレ</div>
    </div>

    <div class='purpose-content'>
      <div class='purpose-box'>
        <div class='purpose-height'>30M</div>
      </div>
      <div class='purpose-name'>500円貯金</div>
    </div>
  </div>

  <div class="purpose">
    <div class='purpose-content'>
      <div class='purpose-box'>
        <div class='purpose-height'>追加</div>
      </div>
    </div>
  </div>

</div>
