<%= render "header" %>

<div class='main'>

  <div class='purpose'>
    <div class='purpose-content'>
      <div class='purpose-box'>
        <div class='purpose-height'>15M</div>
      </div>
      <div class='purpose-name'>レベル上げ</div>
    </div>
  </div>

  <div class="purpose">
    <div class='purpose-content'>
      <div class='purpose-box'>
        <%= link_to '追加', new_purpose_path, class:'purpose-height' %>
      </div>
    </div>
  </div>

</div>
