<div class='main'>
  <%= render "shared/header" %> 

  <div class='block_field'>
    <div class='blocks'>
      <div class='block'>
        <div class='box_1m'></div>
        <div class='created_time'>2021, 04, 01</div>
      </div>
      <div class='block'>
        <div class='box_1m_half'></div>
        <div class='created_time'>2021, 04, 01</div>
      </div>
      <div class='block'>
        <div class='box_2m'></div>
        <div class='created_time'>2021, 04, 01</div>
      </div>
      <div class='block'>
        <div class='box_2m_half'></div>
        <div class='created_time'>2021, 04, 01</div>
      </div>
      <div class='block'>
        <div class='box_3m'></div>
        <div class='created_time'>2021, 04, 01</div>
      </div>
      <div class='block'>
        <div class='box_3m_half'></div>
        <div class='created_time'>2021, 04, 01</div>
      </div>
      <div class='block'>
        <div class='box_4m'></div>
        <div class='created_time'>2021, 04, 01</div>
      </div>
      <div class='block'>
        <div class='box_4m_half'></div>
        <div class='created_time'>2021, 04, 01</div>
      </div>
      <div class='block'>
        <div class='box_5m'></div>
        <div class='created_time'>2021, 04, 01</div>
      </div>
      <div class='block'>
        <div class='box_5m_half'></div>
        <div class='created_time'>2021, 04, 01</div>
      </div>
    </div>
  </div>

  <div class='base_ground'>
    <div class='ground'>
      <div class='inner_ground'></div>
    </div>
  </div>



  <div class='btn'>
    <div class='add-btn'>
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
    </div>
  </div>

  
</div>
