.box_1m {
  border-radius: 20%;
  height: 120px;
  width: 120px;
  background-color:rgb(74, 180, 180);
  border: white solid 2px;
  margin-left: 100px;
}

.box_1m_half {
  border-radius: 15px;
  height: 180px;
  width: 120px;
  background-color:rgb(74, 180, 180);
  border: white solid 2px;
  margin-left: 100px;
}

.box_2m {
  border-radius: 15px;
  height: 240px;
  width: 120px;
  background-color:rgb(231, 229, 86);
  border: white solid 2px;
  margin-left: 100px;
}

.box_2m_half {
  border-radius: 15px;
  height: 300px;
  width: 120px;
  background-color:rgb(231, 229, 86);
  border: white solid 2px;
  margin-left: 100px;
}

.box_3m {
  border-radius: 15px;
  height: 360px;
  width: 120px;
  background-color:rgb(74, 102, 180);
  border: white solid 2px;
  margin-left: 100px;
}

.box_3m_half {
  border-radius: 15px;
  height: 420px;
  width: 120px;
  background-color:rgb(231, 229, 86);
  border: white solid 2px;
  margin-left: 100px;
}

.box_4m {
  border-radius: 15px;
  height: 480px;
  width: 120px;
  background-color:rgb(74, 180, 79);
  border: white solid 2px;
  margin-left: 100px;
}

.box_4m_half {
  border-radius: 15px;
  height: 420px;
  width: 120px;
  background-color:rgb(231, 229, 86);
  border: white solid 2px;
  margin-left: 100px;
}

.box_5m {
  border-radius: 15px;
  height: 600px;
  width: 120px;
  background-color:rgb(180, 74, 74);
  border: white solid 2px;
  margin-left: 100px;
}

.box_5m_half {
  border-radius: 15px;
  height: 660px;
  width: 120px;
  background-color:rgb(231, 229, 86);
  border: white solid 2px;
  margin-left: 100px;
}