* {
  box-sizing:border-box;
}

.contents {
  height: 20px;
  width: 100vw;
  padding: 0 15vw;
  margin-bottom: 70px;
}

.header-title {
  font-size: 7vh;
  color:rgb(74, 180, 180);
  text-align: center;
}


.session {
  display: flex;
  width: 20vw;
  margin: 0 0 0 auto;
}

.register {
margin-right: 20px;
}

.user {
  margin-right: 20px;
}

.letter {
  text-align: center;
}

.hidden {
  display: none;
}