
.contents {
  background-color:rgb(243, 243, 243);
}

.header {
  font-size: 70px;
  color:rgb(74, 180, 180);
  text-align: center;
}


.session {
  display: flex;
  width: 20vw;
  margin: 0 0 0 auto;
}

.singnout {
  margin-right: 20px;
  text-decoration: none;
  color:rgb(74, 180, 180);
}

.sign-up_in {
margin-right: 20px;
text-decoration: none;
color:rgb(74, 180, 180);
}

.user {
  margin-right: 20px;
}

.letter {
  text-align: center;
  font-size: ;
}

.hidden {
  display: none;
}