
.main {
  background-color:rgb(243, 243, 243);
  min-height: 100vh;
  padding: 0 15vw;
  position: relative;
}

.purpose-contents {
  list-style: none;
  text-align: center;
}

.purpose-box {
  background-color:rgb(74, 180, 180);
  border-radius: 20%;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, .5);
  border: 2px solid white;
  width: 200px;
  height: 200px;
  margin: 40px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.purpose-height {
  color:rgb(187, 243, 235);
  font-size: 30px;
}

.purpose-name {
  color:cornflowerblue;
  margin-top: 20px;
  text-align: center;
}

.add-content {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 50px;
}

.add-purpose {
  color:rgb(74, 180, 180);
}