
.main {
  background-color:rgb(243, 243, 243);
  height: 100vh;
  padding: 0 15vw;
  padding-top: 20px;
}

.purpose {
  display: flex;
  justify-content:space-between
}

.purpose-box {
  background-color:rgb(74, 180, 180);
  border-radius: 20%;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, .5);
  border: 2px solid white;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.purpose-height {
  color:rgb(187, 243, 235);
  font-size: 30px;
}

.purpose-name {
  color:cornflowerblue;
  margin-top: 20px;
  text-align: center;
}

.add-purposes {
  margin-top: 20px;
}