
.block_field {
  width: 100%;
  min-height: calc( 100vh - 280px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.blocks {
  width: 100%;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.created_time {
  font-size: 15px;
  width: 100px;
  padding-left: 10px;
}

.base_ground {
  display: flex;
  justify-content: center;
  height: 120px;
}

.ground {
  border-radius: 20px;
  width: 900px;
  height: 100px;
  background-color: white;
  border: black 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_ground {
  background-color: rgb(110, 110, 110);
  width: 880px;
  height: 85px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add_block_form{
  width: 70%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.value {
  width: 250px;
}

.btn { 
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.add-btn {
  background-color:rgb(74, 180, 180);
  border-radius: 20%;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
