.show_main {
  background-color:rgb(243, 243, 243);
}

.boxes {
  padding: 0 15vw;
}

.box {
  height: 100px;
  width: 100px;
  background-color: aqua;
  border: white solid 2px;
}

footer {
  height: 100px;
  background-color: black;
  border: white 5px solid;
}