.which_purpose {
  display: flex;
  align-items: center;
}

.purpose_btn {
  height: 40px;
  width: 80px;
  background-color:white;
  color:rgb(74, 180, 180);
  border: rgb(74, 180, 180) 2px solid;
  border-radius: 10%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.purpose_name {
  font-size: 40px;
  color:rgb(74, 180, 180);
  margin-right: 10px;
}

.unit_filed {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.block_field {
  width: 100%;
  min-height: calc( 100vh - 280px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 50px;
}

.height {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

.blocks_height {
  font-size: 30px;
}

.blocks {
  width: 900px;
}

.comment_field {
  width: 200px;
  height: 100px;
  padding-right: 20px;
  margin-left: 200px;
  display: flex;
  align-items: center;
}

.comment_content {
}

.block {
  display: flex;
  justify-content: center;
}

.created_time {
  font-size: 15px;
  width: 400px;
  padding-left: 10px;
}

.base_ground {
  display: flex;
  justify-content: center;
  height: 120px;
}

.ground {
  border-radius: 20px;
  width: 900px;
  height: 100px;
  background-color: white;
  border: black 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_ground {
  background-color: rgb(110, 110, 110);
  width: 880px;
  height: 85px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.value {
  width: 250px;
}

.btn { 
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.add-btn {
  background-color:rgb(74, 180, 180);
  border-radius: 20%;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formblock {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.99);
  background-color:rgb(243, 243, 243);
  width: 400px;
  height: 300px;
  padding: 20px;
  border: rgb(77, 182, 182) 2px solid;
  border-radius: 10%;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  transition: 0.3s;
}

.form_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_title {
  width: 250px;
  font-size: 35px;
}

.input_progress {
  margin: 10px 0 20px 0 ;
  color:rgb(74, 180, 180);
  text-align: center;
}

.field_name {
  width: 250px;
}

.form_comment {
  width: 250px;
  height: 30px;
}

.form_slct {
  width: 200px;
}

.input_btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn_base {
}

.action_btn {
  width: 55px;
  height: 30px;
  background-color: ivory;
  border: rgb(77, 182, 182) 2px solid;
  border-radius: 10%;
  padding: 1px 0;
}

.formblock.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.mask {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.mask.active {
  opacity: 0.6;
  visibility: visible;
}