.which_purpose {
  display: flex;
  align-items: center;
}

.purpose_edit, .yes_btn, .close_btn {
  text-decoration: none;
  color:rgb(74, 180, 180);
}
.purpose_edit, .purpose_delete {
  height: 40px;
  width: 80px;
  background-color:white;
  color:rgb(74, 180, 180);
  border: rgb(74, 180, 180) 2px solid;
  border-radius: 10%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.purpose_name {
  font-size: 40px;
  color:rgb(74, 180, 180);
  margin-right: 10px;
}

.unit_filed {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.block_field {
  width: 100%;
  min-height: calc( 100vh - 280px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 50px;
}

.height {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

.blocks_height {
  font-size: 30px;
}

.blocks {
  width: 900px;
}

.comment_field {
  width: 200px;
  height: 100px;
  padding-right: 20px;
  margin-left: 200px;
  display: flex;
  align-items: center;
}

.comment_content {
}

.block {
  display: flex;
  justify-content: center;
}

.created_time {
  font-size: 15px;
  width: 400px;
  padding-left: 10px;
}

.base_ground {
  display: flex;
  justify-content: center;
  height: 120px;
}

.ground {
  border-radius: 20px;
  width: 900px;
  height: 100px;
  background-color: white;
  border: black 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_ground {
  background-color: rgb(110, 110, 110);
  width: 880px;
  height: 85px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.value {
  width: 250px;
}

.btn { 
  position: fixed;
  bottom: 40px;
  right: 40px;
}
