// Place all the styles related to the purposes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-title{
  text-decoration: none;
  color:rgb(74, 180, 180);
}
.input_field {
  
}